body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h3, h2{
  margin:18px
}

.app{
  margin:10px;
  padding: 10px 10px;
}
/* login */

.login-form{
  text-align: center
}
.register-link{
  display: block;
}


/* buttons */

button:hover, button:focus{ 
  background-color:rgba(150, 150, 150, 0.856);
  color:white
}

button{
  background:rgb(243, 243, 243);
  border: 2px solid rgba(128, 128, 128, 0.664);
  border-radius:3px;
  font-size:20px;
  transition: all 0.2s;
}


.toggle-btn{
  margin: 15px auto 0px auto;
  padding:4px 4px
}

.login-button{
  margin:5px
}


/* login */

.form-input{
  margin:10px
}
/* header */

.header-bar{
text-align: right
}
/* dashboard */

.dashboard{
  text-align: center;
  background: radial-gradient(rgb(202, 202, 202), rgb(224, 224, 224), rgb(255, 253, 253) );
  box-shadow: 0px 5px 50px -6px rgba(0,0,0,0.51);
  max-width: 600px;
  margin:10px auto;
  padding-bottom:10px;
  border-radius: 5px
}


/* question */
.useranswer{
  font-size:20px;
  margin-bottom:5px;
  border: 2px solid rgba(128, 128, 128, 0.664);
  border-radius: 3px;
}

/* feedback/score */

.score-card{
  margin:10px auto;
}

.feedback-card-x, .feedback-card-check{
  border:1px rgba(177, 177, 177, 0.349) solid;
  border-radius: 3px;
  width:80%;
  max-width:360px;
  margin:10px auto;
  box-shadow: 0px 5px 50px -6px rgba(0,0,0,0.51);
}

.feedback-card-check{
  background: radial-gradient(rgba(109, 165, 109, 0.5), rgba(109, 165, 109, 0.7), rgba(109, 165, 109, 0.9) );

}

.feedback-card-x{
  background: radial-gradient(rgba(250, 90, 90, 0.5), rgba(250, 90, 90, 0.7), rgba(250, 90, 90, 0.9) );
}
.symbol-x, .symbol-check{
  margin:10px auto;
  font-size:40px;
}

.symbol-x{
  color:rgb(179, 0, 0);
}
.symbol-check{
  color:green;
}

